/* Основные стили для 2х страниц */
:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --primary-hover-color: #2196f3;
  --secondary-text-color: #212121;
}

body {
  background-color: var(--primary-background-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
h3 {
  margin: 0;
  padding: 0;

  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Стили для header*/
.header-flex {
  padding-top: 0px;
  padding-bottom: 0px;
}
/*Logo*/
.logo {
  margin-right: 80px;

  font-family: 'Raleway', sans-serif;
  color: black; /*На макете текст Studio  реально темнее чем текст на всей странице*/
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo span {
  color: var(--primary-hover-color);
}

/*Site menu and contacts*/

.menu-link,
.contact-item {
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 6px;
  padding-right: 6px;
}

.menu-link:hover,
.menu-link:focus,
.contact-item:hover,
.contact-item:focus {
  color: var(--primary-hover-color);
}

.current {
  color: var(--primary-hover-color);
}
.contact-item {
  color: var(--primary-text-color);
  padding-left: 10px;
}

.header-flex,
.nav-main,
.menu-contacts,
.menu-list {
  display: flex;
  align-items: center;
}
.menu-list .item:not(:last-child),
.menu-contacts .item:not(:last-child) {
  margin-right: 50px;
}
.menu-contacts {
  margin-left: auto;
}

/*Стили для кнопок ссылок. Когда будем делать НАСТОЯЩУЮ кнопку в футере- потом уберу*/
.link-button {
  display: inline-block;
  padding: 10px 32px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primary-background-color);
  background-color: var(--primary-hover-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Стили для страницы Studio*/

/*Стили для Героя*/

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/hero-img.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero h1 {
  width: 646px;
  margin-top: 0px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;

  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Стили для Преимуществ студии*/

.benefits-list {
  display: flex;
}
.benefits-list .item + .item {
  margin-left: 30px;
}
.benefits-list .item {
  min-width: 270px;
}
.benefits-list > .item::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;

  background-repeat: no-repeat;
  background-position: center;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.antena::before {
  background-image: url(../images/Addvantages/antenna.svg);
}
.clock::before {
  background-image: url(../images/Addvantages/clock.svg);
}
.diagramm::before {
  background-image: url(../images/Addvantages/diagram.svg);
}
.astronaut::before {
  background-image: url(..//images/Addvantages/astronaut.svg);
}

.benefits > .container {
  border-bottom: 1px solid #ececec;
}
.benefits h3 {
  margin: 0 0 10px 0;

  color: var(--secondary-text-color);
}

.benefits p {
  margin: 0px;
  color: var(--primary-text-color);
  line-height: 1.71;
}

/*Стили Направления разработки*/
.services-list {
  display: flex;
}
.services-list .item {
  width: 370px;
}
.services-list .item + .item {
  margin-left: 30px;
}

.services-list h3 {
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;

  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
}

/*Стили для Наша команда*/
.team {
  background: var(--secondary-background-color);
}

.team-list {
  display: flex;
  justify-content: center;
}
.team-list .member + .member {
  margin-left: 30px;
}

.member {
  width: 270px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.team-list h3 {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: none;
  text-align: center;
}
.team-list p {
  margin: 0;
  margin-bottom: 16px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-photo {
  display: block;
  margin-bottom: 30px;

  border-radius: 4px 4px 0px 0px;
}
.team-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
/*Стили для секции постоянные клиенты*/
.customers-list {
  display: flex;
}
.customers-list .member + .member {
  margin-left: 30px;
}
.customers-list .client-tittle + .client-tittle {
  margin-left: 30px;
}
.client-tittle img {
  display: inline-block;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 21px;
  padding-bottom: 21px;

  /*применила ширину и высоту для позиционирования будет понятно, как с бэкграунд и рамками - сделаю правильно*/
  width: 170px;
  height: 90px;
}

/*Стили для footer*/

footer {
  background-color: #2f303a; /*ТАК УДОБНЕЙ ВИДЕТЬ применились ли цвета текста*/
}

footer .title {
  margin-bottom: 21px;
}
b {
  font-weight: 700;
  font-size: 14px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 0px;
}

/*Footer contacts*/

footer .logo {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--primary-background-color);
  font-size: 22px;
  line-height: 1.18;
}

.adress-location {
  color: var(--secondary-background-color);
  font-style: normal;
  line-height: 1.71;
}
.footer-contacts {
  margin-bottom: 28px;
  margin-right: 179px;
}

.adress-contacts > .item {
  margin-bottom: 10px;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}
/*Footer social media*/

.socials .list {
  display: flex;
  align-content: space-between;
  min-width: 296px;
}
.socials-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}
.socials-item::before {
  content: '';
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px;

  background-repeat: no-repeat;
  background-position: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.instagram::before {
  background-image: url(../images/footer/instagram.svg);
}
.twitter::before {
  background-image: url(../images/footer/twitter.svg);
}
.facebook::before {
  background-image: url(../images/footer/facebook.svg);
}
.linkedin::before {
  background-image: url(../images/footer/linkedin.svg);
}

.socials-item:hover::before,
.socials-item:focus::before {
  background-color: var(--primary-hover-color);
  cursor: pointer;
}

/*Footer signup*/
.subscribe {
  margin-left: auto;
}
.subscribe-icon {
  padding-left: 29px;
}
.subscribe-icon::after {
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 10px;

  background-repeat: no-repeat;
  background-position: center;

  background-image: url(../images/footer/icon-send.svg);
}
/*Footer copyright*/
.text-copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/*Стили для страницы Portfolio*/

/* нижняя граница для Хедер в Портфолио */
.accent {
  border-bottom: 1px solid #ececec;
}
.filters,
.work-examples {
  display: flex;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.filters .item:not(:last-child) {
  margin-right: 8px;
}
/*Кнопки-фильтры*/
button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;

  background: var(--secondary-background-color);
  color: var(--secondary-text-color);

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: inherit;
}
button:hover,
button:focus {
  background: var(--primary-hover-color);
  color: var(--primary-background-color);
}

/*Примеры работ*/

.work-examples {
  flex-wrap: wrap;
  margin: -15px;
}
.example {
  width: 370px;
  margin: 15px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.work-link {
  display: block;
  text-decoration: none;
}
.work-link:hover,
.work-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.work-examples h2 {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.work-examples p {
  margin: 0px;
  padding: 0px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* .work-examples .hover-text {
  color: var(--primary-background-color);
  font-size: 18px;
  line-height: 1.56;
  background: var(--primary-hover-color);
} */
.example-content {
  padding: 20px 24px;
  background: var(--primary-background-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
